.menu-item{
padding-top: 10px;
padding-bottom: 10px;
}

/deep/ .mat-card{
  padding: 0px;
}

/deep/ .mat-nav-list{
  padding: 0px;
}

/* SubMenu CSS */
.subMenu-header{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}
