<md-sidenav-container fxLayout="column">
  <div fxLayout="column" >
    <div fxFlex="grow">
      <fw-tool-bar (mobileNavToggle)="mobileSidenav.toggle()"></fw-tool-bar>
    </div>
    <div class="container">
      <!-- <div class="sidenav-container" *ngIf="!authService.isLoggedIn()">
        <fw-dropdown-side-nav></fw-dropdown-side-nav>
      </div> -->
      <div class="mainContentContainer">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div fxFlex="grow" style="background-color:black;">footer</div>
  </div>
  <md-sidenav #mobileSidenav class="mobile-sidenav">
    <fw-static-sidenav [itemList]="items"></fw-static-sidenav>
  </md-sidenav>
</md-sidenav-container>


