.mobile-sidenav{
  min-width: 300px;
}
.container{
  display: flex;
  flex-direction: row;
}
.mainContentContainer{
  padding: 10px;
  flex-grow: 1;
}
.sidenav-container{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
