<md-tab-group>
  <md-tab label="Active Orders">
    <md-card>
      <div>
        <span>
          Dear Customer, there are no Active orders in your account
        </span>
        <a class="continue_shopping_order" href="">
          Continue Shopping
          <span><md-icon >arrow_forward</md-icon></span>
        </a>
      </div>
    </md-card>
    <div [@flyInOut] class="empty_cart">
        <md-icon class="icon-cart">add_shopping_cart</md-icon>
    </div>
  </md-tab>
  <md-tab label="Delivered Orders">Content 2</md-tab>
  <md-tab label="Completed Orders">Content 3</md-tab>
</md-tab-group>
