firstContent{
  width: 100%;
  height: 100%;
}

.square_board{
  margin: 10px;
  width: 100%;
  padding: 0px;
}

::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
    align-items: initial;  /*vertical alignment*/
}

.mat-nav-list{
  padding-top: 0px;
}

.list-item{
  padding-top: 12px;
  padding-bottom: 12px
}
