<div class="emptycartContainer">
  <md-card class="messageCard">
    <div>
      <span>
            {{message}}
      </span>
      <div class="continue_shopping_order" routerLink="">
            <div class="display-inline">
              <h3>Continue Shopping </h3>
              <md-icon style="margin-top:17px;">arrow_forward</md-icon>
            </div>
      </div>
    </div>
  </md-card>
  <div [@flyInOut] class="empty_cart">
    <md-icon class="icon-cart">add_shopping_cart</md-icon>
  </div>
</div>
